<% content_for(:title, @post.title) %>
<h1><%= @post.title %></h1>
<% if @post.date != nil %>
  <h4><%= @post.date.to_s %></h4>
<% end %>
<p><%= link_to "Edit", edit_post_path(@post) %> </p>
<p><%= link_to "Delete", post_path(@post), :data => {:confirm => "For real?", :method => "delete"} %></p>


<h4><%= @post.body %></h4>

<% if @post.comments.any? %>
  <h4>Comments:</h4>
  <ul>
    <% @post.comments.each do |c| %>
    <li>
      <%= c.body %> |
      <%= link_to "Edit", edit_post_comment_path(@post, c) %> |
      <%= link_to "Delete", post_comment_path(@post, c), :data => {:confirm => "Are you sure?", :method => "delete"} %>
    </li>
    <% end %>
  </ul>
  <% else %>
    <p>
      There are no comments yet!
    </p>
  <% end %>
<p> <%= link_to "Return to Blog Posts", posts_path %> </p>
